@import "tailwindcss";

* {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 700;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  /* Garante que o scroll horizontal da página inteira funcione se necessário */
  overflow-x: auto;
}